<% if @error %>
<h1><%= @error %></h1>
<% end %>

<p><a href="/auth/github" class="zocial github">Sign in with Github</a></p>

<h3>What is this?</h3>
<p>This is just a way to associate an email address with a Github username. With a Github username, your public ssh keys can be downloaded easily.</p>

<h3>Is this safe?</h3>
<p>We never store any of your private information, the Github login is handled via oAuth. We only store your verified email addresses and the associated login. <a href="https://github.com/darron/sshkeyhub">Or just take a look at the source yourself.</a></p>

<h3>How does it work?</h3>
<p>First - <a href="/auth/github">click the button above and sign into Github.</a></p>

<p>Then, put your email address at the end of the URL - your keys will be downloaded - as an example:</p>

<p><a href="/darron@froese.org">http://sshkeyhub.org/darron@froese.org</a></p>

<h3>But I've changed my public keys - do I need to do anything?</h3>
<p>No - we ask Github for your keys every time - they will automatically update.</p>