<% if @error %>
<h1><%= @error %></h1>
<% end %>

<p><a href="/auth/github" class="zocial github">Sign in with Github</a></p>

<h3>What is this?</h3>
<p>This is just a way to associate an email address with a Github username. With a Github username, your public ssh keys can be downloaded easily.</p>

<h3>Is this safe?</h3>
<p>We never store any of your private information, the Github login is handled via oAuth. We only store your verified email addresses and the associated login.</p>

<h3>How does it work?</h3>
<p>Here's an example link: <a href="/darron@froese.org">darron@froese.org</a></p>